<%= form_for @item do |f| %>

  <% if @item.errors.any? %>

    <div class='errors'>
      <h2>Uh oh, errors!</h2>
        <% @item.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :item_type, 'What type of item is this?' %>
    <%= f.collection_select :item_type_id, ItemType.all, :id, :name %>
  </div>

  <div class='field'>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

<div class='field'>
    <%= f.label :completed_on, 'Completed On' %>
    <%= f.date_select :completed_on %>
  </div>


  <div class='field'>
    <%= f.submit 'Save' %>
  </div>
<% end %>
